.logo{
    color:#3366ff;
}
.logo-other-part{
    color:#003366 ;
 }
 .social-logo{
    color: azure;
    margin: 20px;
 }
.carousel-item{
    height: 100%;
    width: 100%;

}
.medium-screen{
    visibility: hidden;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: black;
    opacity:0.7 ;

}
